@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Dancing+Script&family=Nunito+Sans&family=Outfit&family=Overpass&family=Pacifico&family=Roboto+Slab:wght@500&display=swap');

a:-webkit-any-link {
    /* color: -webkit-link; */
    color: rgb(205, 175, 5);
    /* cursor: pointer; */
    text-decoration: none;
}
a:-webkit-any-link:hover{
    text-decoration: overline underline;
}
.cart{
    width: 50px;
    height: 50px;
    margin-left: 450px;
}
img{
    width: 1905px;
    height: 900px;
    margin-top: 0 auto;
    /* position: relative; */
}
form{
    background-color:rgba(126, 108, 2, 0.5) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    gap: 10px;
    color: black;
    font-family: 'Roboto Slab';
    border-radius: 10px;
    margin-left: 770px;
    text-align: center;
    margin-top: 50px;
}
input{
    width: 300px;
    height: 40px;
    border: none;
}
textarea{
    width: 300px;
    height: 80px;
}
.name{
  width: 500px;
  height: 150px;
  margin-top: 5px;
  text-align: center;
}
.price{
  width: 530px;
  height: 100px;
  margin-top: 30px;
  display: inline-block;
}
.divstyle{
    background-color: rgba(2, 77, 5, 0.5);
    width: 550px;
    height: 700px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 60px;
    color: antiquewhite;
    font-family: 'Roboto Slab';
    border-radius: 25px;
}
.divstyle1{
  background-color: rgba(2, 77, 5, 0.5);
  width: 550px;
  height: 900px;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: 60px;
  color: antiquewhite;
  font-family: 'Roboto Slab';
  border-radius: 25px;
}
.list {
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 35px;
}
.list1{
  display: inline-block;
  margin-left: 420px;
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Roboto Slab';
  background-color: green;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}
.menu-container {
  position: fixed;
  top: 120px;
  border-radius: 30px;
  background-color: rgba(2, 77, 5, 0.5);
  left: -300px;
  width: 300px;
  height: 150px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  color: goldenrod;
}

.menu-container.open {
  left: 1200px;
}
.category{
  width: 500px;
  height: 40px;
  text-align:start;
  margin-top: 15px;
  margin-left: 30px;
  font-size: 20px;
}
.description{
  text-align: center;
  width: 500px;
  margin-left: 30px;
}
.container3{
  background-color: yellow;
}

